<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.meet.dao.VerifyCodeMapper" >
  <resultMap id="BaseResultMap" type="com.example.meet.model.VerifyCode" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="verify_code" property="verifyCode" jdbcType="VARCHAR" />
    <result column="used" property="used" jdbcType="INTEGER" />
    <result column="code_expires" property="codeExpires" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, tel, verify_code, used, code_expires, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from verify_code
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectVerifyCodeByPhone" resultMap="BaseResultMap" parameterType="string" >
    select
    <include refid="Base_Column_List" />
    from verify_code
    where tel = #{telephone}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from verify_code
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.meet.model.VerifyCode" >
    insert into verify_code (id, tel, verify_code, 
      used, code_expires, create_time
      )
    values (#{id,jdbcType=BIGINT}, #{tel,jdbcType=VARCHAR}, #{verifyCode,jdbcType=VARCHAR}, 
      #{used,jdbcType=INTEGER}, #{codeExpires,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.meet.model.VerifyCode" >
    insert into verify_code
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="verifyCode != null" >
        verify_code,
      </if>
      <if test="used != null" >
        used,
      </if>
      <if test="codeExpires != null" >
        code_expires,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="verifyCode != null" >
        #{verifyCode,jdbcType=VARCHAR},
      </if>
      <if test="used != null" >
        #{used,jdbcType=INTEGER},
      </if>
      <if test="codeExpires != null" >
        #{codeExpires,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.meet.model.VerifyCode" >
    update verify_code
    <set >
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="verifyCode != null" >
        verify_code = #{verifyCode,jdbcType=VARCHAR},
      </if>
      <if test="used != null" >
        used = #{used,jdbcType=INTEGER},
      </if>
      <if test="codeExpires != null" >
        code_expires = #{codeExpires,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.meet.model.VerifyCode" >
    update verify_code
    set tel = #{tel,jdbcType=VARCHAR},
      verify_code = #{verifyCode,jdbcType=VARCHAR},
      used = #{used,jdbcType=INTEGER},
      code_expires = #{codeExpires,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>